*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #;
    background-image: url("to do.jpg");
}
.container {
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .task-section {
    margin-bottom: 20px;
  }
  
  .task-section h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li span {
    margin-left: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  